@page
@model IndexModel
@{
    ViewData["Title"] = "Sample k8s web application";
}

<div class="text-center">
    <h1 class="display-4">Sample k8s Web Application</h1>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Variable</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>NODE NAME</td>
            <td>@Model.NodeName</td>
        </tr>
        <tr>
            <td>POD NAME</td>
            <td>@Model.PodName</td>
        </tr>
        <tr>
            <td>POD NAMESPACE</td>
            <td>@Model.PodNamespace</td>
        </tr>
        <tr>
            <td>POD IP</td>
            <td>@Model.PodIp</td>
        </tr>
        </tbody>
    </table>
    
</div>